<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/style.css">
    <title>{{ pageTitle }}</title>
</head>

<body>
    <h1>{{title}}</h1>
    <p class="text-color">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex, minima! Asperiores, ut,
        exercitationem quae consectetur sint voluptas ea est expedita quam, quos optio! Quod suscipit provident
        dignissimos cumque, sint fugit recusandae consectetur veritatis rem explicabo fugiat commodi eos aut nisi,
        minima saepe debitis error, inventore ratione amet quas? Labore inventore rerum eos dicta aperiam recusandae
        excepturi, modi ratione aliquam earum, maiores est! Tempora ipsa dicta cupiditate impedit ipsam repudiandae
        quasi voluptatem sint fugiat, placeat quos sed expedita animi qui quam, recusandae unde? Laudantium, mollitia
        nihil corrupti adipisci vitae et, ullam consequuntur commodi eius quos sunt! Enim iste perferendis quisquam
        numquam dolores nobis ab cumque iusto pariatur corrupti rerum dolorum fugiat recusandae optio, quam debitis,
        culpa placeat rem minima magnam architecto illo amet repellendus laborum? In commodi obcaecati quae recusandae,
        ducimus ipsum, ea quisquam, saepe tenetur beatae voluptas quasi deserunt debitis hic eaque necessitatibus
        distinctio totam numquam. Repudiandae fugit non ab dolores ducimus rem possimus rerum odio repellat consequatur
        itaque delectus excepturi culpa eaque quidem asperiores quia provident, laborum, illum, facere quos officia
        nihil? Harum, in quaerat! Aliquid dolore consequuntur voluptate nulla mollitia deserunt excepturi et sequi odit
        non, a illo libero, eligendi illum iusto nostrum ea. Alias, fugiat perferendis natus odit ratione quis non sit,
        aspernatur hic eligendi neque officiis dicta similique doloremque, est iusto exercitationem distinctio modi
        minus? Sequi temporibus nesciunt facere numquam nemo voluptatem aperiam dicta a minima unde animi vitae
        similique expedita ipsum eveniet velit placeat officiis earum, odio ipsa? Illo ad deserunt quaerat architecto
        consectetur voluptatibus alias voluptatem, facilis minus aspernatur! Repellat, amet accusamus aperiam labore
        eius nostrum ullam odit voluptatem libero quod facilis nobis repellendus, minus harum quam suscipit
        necessitatibus dicta accusantium praesentium magnam. Placeat in, rerum est tenetur consequuntur quidem quod
        repudiandae dolorum laboriosam tempora accusantium amet cupiditate. Neque dolore deserunt provident possimus
        iste.</p>
    <input type="text" id="example">
    <button id="action">Klik</button>
    <p id="text"></p>
    <script src="./../js/func.js"></script>
</body>

</html>